html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  border-radius: 40px;
margin: 5px;
margin-bottom: 10px;
width: 83%;
height: 40px;
color: #ffffff;
background-color: #223c1d;
border: 2px solid;

}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #223c1d;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #223c1d;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */





.inputStyle-1 {
border-radius: 30px;
margin: 5px;
margin-bottom: 10px;
border: 2px solid #132411;
width: 80%;
height: 30px;
text-indent: 10px;
}

input[type="text"]
{
    font-size:18px;
}

input[type="password"]
{
    font-size:18px;
}

.profile-image {
  height: 100px;
  width: 100px;
  background-color: #497442;
  margin: 10%;
}
.p-head {
  padding: 5%;
}

.LoginPage {
  background-color: #8cb285;
}

.App {
  background-color: #8cb285;
  height: 100%;
}
